.tooltipContainer {
    padding: 1.6rem 1.2rem 2.4rem;

    position: absolute;
    z-index: 1000;

    background-color: white;
    border: 0.1rem solid var(--color-grey-200);
    border-radius: 0.8rem;
    box-shadow: var(--shadow-8);
}

.tooltipArrow,
.tooltipArrowInner {
    width: 0;
    height: 0;
    position: absolute;
}

/* Down */
.bottom-right .tooltipArrow,
.bottom-left .tooltipArrow {
    top: -1rem;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-bottom: 1rem solid var(--color-grey-200);
}

.bottom-right .tooltipArrowInner,
.bottom-left .tooltipArrowInner {
    top: -0.9rem;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-bottom: 1rem solid var(--color-white);
}

.bottom-right .tooltipArrow,
.bottom-right .tooltipArrowInner {
    left: 2rem;
}

.bottom-left .tooltipArrow,
.bottom-left .tooltipArrowInner {
    right: 2rem;
}

/* Up */
.top-right .tooltipArrow,
.top-left .tooltipArrow {
    bottom: -1rem;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-top: 1rem solid var(--color-grey-200);
}

.top-right .tooltipArrowInner,
.top-left .tooltipArrowInner {
    bottom: -0.9rem;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-top: 1rem solid var(--color-white);
}

.top-right .tooltipArrow,
.top-right .tooltipArrowInner {
    left: 2rem;
}

.top-left .tooltipArrow,
.top-left .tooltipArrowInner {
    right: 2rem;
}