.content {
    padding: 2.7rem 4.8rem 4rem;
    display: grid;
    align-items: start;
    grid-template-columns: 29.6rem 1fr;
    gap: 1.9rem 3.2rem;
}

.statusBanner+.content {
    padding-top: 1.6rem;
}

.header {
    display: flex;
    align-items: center;
    column-gap: 4.8rem;
    grid-column: span 2;
}

.title {
    color: var(--color-grey-900);
    text-transform: uppercase;
}

.statuses {
    display: flex;
    column-gap: 1.6rem;
    color: var(--color-grey-800);
}

.statusesItems {
    display: flex;
    column-gap: 2.4rem;
}

.statusesItems div:first-child {
    color: var(--color-brown-200);
}

.statusesItems div {
    position: relative;
    color: var(--color-grey-600);
}

.statusesItems div:not(:last-child)::after {
    content: '';

    width: 0.1rem;
    height: 1rem;

    position: absolute;
    top: 50%;
    right: -1.3rem;

    background-color: var(--color-grey-300);

    transform: translateY(-50%);
}

.leftSide {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.rightSide {
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 3.2rem;
}

.appointments {
    padding: 2.4rem 3.2rem 3.2rem;
}

.appointments,
.invoiceCard,
.estimatesCard {
    grid-column: 1 / -1;
}

.map {
    grid-row: 3;
}

.notes {
    padding: 2.4rem 4rem 3.2rem;
}

.appHeader {
    display: flex;
    justify-content: space-between;
}

.statusBanner {
    padding: 0.8rem 0;

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2.4rem;

    position: sticky;
    top: var(--header-height);
    z-index: 20;

    color: var(--color-grey-800);

    background-color: var(--color-brown-100);
}

.personalInfo {
    padding: 2.4rem 3.2rem 3.2rem;
}

.actions {
    margin-left: auto;
    display: flex;
    column-gap: 2.4rem;
}

.jobActionsDropdown {
    display: flex;
    column-gap: 0.6rem;
    color: var(--color-grey-600);
}

.jobActionsBtn {
    column-gap: 0.6rem;
    color: var(--color-grey-600);

    i {
        font-size: 1.6rem;
    }
}

.jobStatus {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    i {
        color: var(--color-grey-500);
        font-size: 1.6rem;
    }
}

.grey1000 {
    color: var(--color-grey-1000)
}

.addAppointmentModal {
    overflow: initial;
}

.addAppBtn {
    height: 4.4rem;
}

.tabsContainerStyle {
    gap: 4rem
}

.tabNavBtnStyle {
    padding: 0.95rem 1.6rem;
}