.passwordInput {
    margin-bottom: 3.2rem;
}

.requirements {
    width: 21.6rem;
    display: block;
    color: var(--color-grey-600);
}

.requirementsList {
    margin-top: 2.4rem;
    margin-bottom: 3.2rem;
    padding-left: 0;

    display: flex;
    flex-direction: column;
    row-gap: 0.6rem;
}

.listItem {
    list-style: none;
    color: var(--color-grey-700);
    display: flex;
    align-items: center;
    column-gap: 0.4rem;
}

.icon {
    width: 1.2rem;
    height: 1.2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: var(--color-white);
    border-radius: 50%;
}

.icon:global(.icon-check-circle) {
    background-color: var(--color-green-200);
}

.icon:global(.icon-error) {
    background-color: var(--color-red-300);
}

.defaultDot {
    width: 1.2rem;
    height: 1.2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.defaultDot::before {
    content: '';
    display: block;
    width: 0.4rem;
    height: 0.4rem;
    background-color: var(--color-grey-700);
    border-radius: 50%;
}