.fileIcon {
  font-size: 1.6rem;
  color: var(--color-grey-600);
}

.modalContainer {
  padding: 3.2rem 4rem 2.4rem;
  width: 68rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.modalTitle {
  margin-bottom: 1rem;
  color: var(--color-grey-700);
}

.closeSliderBtn {
  width: fit-content;
  align-self: flex-end;
}

.cellWrap {
  position: relative;
}

.contentWrap {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin: 0 auto;
  width: 36rem;
}

.fileWrap {
  max-width: 100%;
  max-height: 48rem;
  margin: 0 auto;
  border-radius: 1rem;
  overflow: hidden;
}

.document {
  canvas {
    width: 36rem !important;
    height: auto !important;
    max-height: 48rem !important;
  }
}