.container {
    width: 38.6rem;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    position: relative;
}

.section {
    border-bottom: 1px solid #dfdfec;
    padding-bottom: 1.6rem;
}

.flexBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4.7rem;
}

.title {
    color: var(--color-grey-700);
}

.price {
    color: var(--color-grey-900);
    min-width: 6.4rem;
    text-align: end;
}

.taxPrice {
    margin-top: 2rem;
}