.componentsWrap {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  position: absolute;
  right: 3.4rem;
  top: 0.5rem;
}

.paymentIconButton {
  font-size: 1.6rem;
  display: none;
  padding: 0.25rem;
  border-radius: 50%;
  transition: background-color 200ms ease-in;
  color: var(--color-grey-600);
  transition: color 0.2s ease;

  &:hover {
    background-color: var(--color-grey-100);
  }
}

.deleteButton:hover {
  color: var(--color-red-300);
}

:global(.table-row:hover) :local(.paymentIconButton) {
  display: flex;
}

.formStyles {
  padding: 3.2rem 4rem 4rem;
  width: 37.6rem;
  gap: 0
}

.formStyles div[class*="formActions"] {
  position: static;
  width: auto;
  padding: 2.4rem 0 0 0;

}