.checkboxWrap {
    display: flex;
    align-items: center;
    position: relative;
}

.checkboxInput {
    position: absolute;
    opacity: 0;
}

.checkboxLabel {
    display: inline-flex;
    align-items: center;

    position: relative;

    color: var(--color-grey-700);

    cursor: pointer;
    user-select: none;
}

.checkboxLabel::before {
    content: '';

    margin-right: 0.8rem;

    width: 1.6rem;
    height: 1.6rem;

    border-radius: 0.4rem;
    border: solid var(--color-grey-500);
    border-width: 0.1rem;
    background-color: var(--color-white);
    transition:
        background-color 0.3s,
        border-color 0.3s;
}

.checkboxInput:checked+.checkboxLabel::before {
    background-color: var(--checkbox-checked-bg, var(--color-blue-300));
    border-color: var(--checkbox-checked-border, var(--color-blue-300));
}

.checkboxInput:checked+.checkboxLabel::after {
    content: '\e92e';

    position: absolute;
    top: 0;
    left: 0.23rem;

    font-family: 'icomoon';
    color: var(--color-white);
}

.checkboxInput:checked:focus+.checkboxLabel::before {
    background-color: var(--checkbox-checked-bg, var(--color-blue-300));
    border-color: var(--checkbox-checked-border, var(--color-blue-300));
    outline: solid var(--color-blue-200);
    outline-width: 0.1rem;
}

.checkboxInput:checked:hover+.checkboxLabel::before {
    background-color: var(--checkbox-checked-bg, var(--color-blue-400));
    border-color: var(--checkbox-checked-border, var(--color-blue-400));
}

.checkboxInput:hover+.checkboxLabel::before {
    border-color: var(--checkbox-hover-border, var(--color-blue-400));
}

.checkboxInput:focus+.checkboxLabel::before {
    border-color: var(--checkbox-focus-border, var(--color-blue-300));
    outline: solid var(--color-blue-200);
    outline-width: 0.1rem;
}

.checkboxInput:indeterminate+.checkboxLabel::before {
    width: 2rem;
    height: 2rem;
    background-color: var(--color-blue-300);
    border-color: var(--color-blue-300);
}

.checkboxInput:indeterminate:hover+.checkboxLabel::before {
    background-color: var(--color-blue-400);
    border-color: var(--color-blue-400);
}

.checkboxInput:indeterminate:focus+.checkboxLabel::before {
    background-color: var(--color-blue-300);
    border-color: var(--color-blue-400);
    outline: solid var(--color-blue-200);
    outline-width: 0.2rem;
}

.checkboxInput:indeterminate+.checkboxLabel::after {
    content: '';

    width: 1.5rem;
    height: 1.5rem;

    position: absolute;
    top: 0.25rem;
    left: 0.25rem;

    border: solid var(--color-white);
    border-width: 0.1125rem;
    border-radius: 0.2rem;
}

.disabledWrap .checkboxLabel {
    color: var(--color-grey-300);
    cursor: not-allowed;
}

.disabledWrap .checkboxLabel::before,
.disabledWrap .checkboxInput:hover+.checkboxLabel::before {
    border-color: var(--color-grey-300);
    background-color: var(--color-grey-100);
}

.disabledWrap .checkboxInput:checked+.checkboxLabel::before {
    background-color: var(--color-grey-300);
    border-color: var(--color-grey-300);
}

.disabledWrap .checkboxInput:disabled:indeterminate+.checkboxLabel::before {
    background-color: var(--color-grey-300);
    border-color: var(--color-grey-300);
}

.invalid::before {
    border-color: var(--color-red-300);
}

.errorMessage {
    position: absolute;
    bottom: -1.9rem;
    color: var(--color-red-300);
}