.documentUploader {
    padding: 1rem 2rem 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    border: solid var(--color-grey-200);
    border-width: 0.1rem;
    border-radius: 0.8rem;
    cursor: pointer;

    &.dragActive {
        border: dashed var(--color-blue-300);
        border-width: 0.1rem;
        background: var(--color-blue-100);
    }

    input[type='file'] {
        display: none;
    }
}

.uploadIcon {
    font-size: 2.4rem;
    color: var(--color-grey-600);
}

.grey600 {
    color: var(--color-grey-600);
}

.browse {
    color: var(--color-blue-300);
    margin-left: 0.5rem;
}