.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.6rem;
    position: relative;


}

.deleteBtn {
    width: 4.5rem;
    height: 4.5rem;
    font-size: 2rem;
    color: var(--color-grey-600);
    position: absolute;
    right: -8rem;
    top: 2rem;
}