.header {
    padding: 4rem 4.8rem 0;
    margin-bottom: 3.2rem;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
}

.title {
    margin-top: 1.6rem;
    color: var(--color-grey-600);
}

.content {
    margin-top: 2rem;
    grid-row: 2/3;
}

.table {
    height: 40.1rem;
    overflow-y: auto;
}

.modal {
    padding: 3.2rem 4rem 4rem;
    width: 47.2rem;
    overflow: initial;
}

.modalTitle {
    margin-bottom: 2.4rem;
    color: var(--color-grey-700);
    text-transform: capitalize;
}

.fields {
    display: flex;
    flex-wrap: wrap;
    gap: 1.6rem;
}

.provinceField {
    width: 25.6rem;
}

.ratePercentField {
    width: 12rem;
}

.fields input[type='number']::-webkit-inner-spin-button,
.fields input[type='number']::-webkit-outer-spin-button {
    appearance: none;
    -webkit-appearance: none;
}

.actions {
    margin-top: 3.2rem;
    display: flex;
    justify-content: flex-end;
    gap: 1.6rem;
}